<!DOCTYPE xml>
<menu>
	<submenu label="Cadastros" icon="pi pi-folder-open">
		<role value="GESTOR"></role>
		<menuitem value="Unidades" outcome="/restricted/cadastros/ManterUnidade.xhtml"> </menuitem>
		<menuitem value="Unidades de Rede" outcome="/restricted/cadastros/ManterUnidadeRede.xhtml"> </menuitem>
		<menuitem value="Usuarios" outcome="/restricted/cadastros/ManterUsuario.xhtml"> </menuitem>		
	</submenu>

	<submenu label="Acolhimento" icon="pi pi-heart-fill">
		<role value="TECNICO"></role>
		<menuitem value="Atendimento" outcome="/restricted/acolhida/ManterAtendimento.xhtml"> </menuitem>
		<menuitem value="PreencherFicha" outcome=""> </menuitem>
		<menuitem value="Listas de Espera" outcome=""> </menuitem>
	</submenu>
	
	<submenu label="Prontuario" icon="pi pi-folder-open">
		<role value="GESTOR"></role>
		<menuitem value="Manter Prontuario" outcome="/restricted/prontuario/ManterProntuario.xhtml"> </menuitem>		
	</submenu>
	
	
</menu>